<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>HS Cards</title>
</head>

<body>
	<div layout:fragment="content" class="container">
		<form role="form">
			<div class="form-group">
				<input type="search" class="form-control input-lg" id="txtSearch"
					placeholder="Search..." autocomplete="off"
					data-bind="value: query, valueUpdate: [&#39;input&#39;, &#39;afterkeydown&#39;]" />
			</div>
		</form>

		<p data-bind="visible: isTypingInQueryInput()">Searching...</p>
		<p
			data-bind="visible: !isTypingInQueryInput() &amp;&amp; cards().length &lt;= 0">No
			results found.</p>
		<ul class="list-unstyled"
			data-bind="visible: !isTypingInQueryInput() &amp;&amp; cards().length &gt; 0, template: {name:'card', foreach:cards}">
		</ul>

		<script type="text/html" id="card"> 
			<li>
				<h2 data-bind="text: name"></h2>
				<p data-bind="html: text"></p>
				<p>type: <b data-bind="text: type"></b></p>
			</li>
		</script>
	</div>
</body>

</html>