<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>HS Cards</title>
</head>

<body>
	<div layout:fragment="content" class="container">
		<form role="form">
			<div class="form-group">
				<input type="text" class="form-control input-lg" id="txtSearch"
					placeholder="Search..." />
			</div>
		</form>

		<p data-bind="visible: isTypingInQueryInput()">Searching...</p>
		<p data-bind="visible: !isTypingInQueryInput() &amp;&amp; cards().length &lt;= 0">No
			results found.</p>
		<ul class="list-unstyled"
			data-bind="visible: !isTypingInQueryInput() &amp;&amp; cards().length &gt; 0, template: {name:'card', foreach:cards}">
		</ul>
		
		<script type="text/html" id="card"> 
			<li>
				<p><strong data-bind="text: name"></strong></p>
				<p data-bind="html: text"></p>
			</li>
		</script> 
	</div>
</body>

</html>